/* HTML
-------------------------------------------------------------------*/
html {
    height: 100%;
  }
  
  /* General Layout
  -------------------------------------------------------------------*/
  
  /* Element Width View */
  .vw-10 {width: 10vw; overflow-x: hidden;}
  .vw-20 {width: 20vw; overflow-x: hidden;}
  .vw-30 {width: 30vw; overflow-x: hidden;}
  .vw-40 {width: 40vw; overflow-x: hidden;}
  .vw-50 {width: 50vw; overflow-x: hidden;}
  .vw-60 {width: 60vw; overflow-x: hidden;}
  .vw-70 {width: 70vw; overflow-x: hidden;}
  .vw-80 {width: 80vw; overflow-x: hidden;}
  .vw-90 {width: 90vw; overflow-x: hidden;}
  .vw-100 {width: 100vw; overflow-x: hidden;}
  
  /* Element Height Percent */
  .ph-10 {height: 10%;}
  .ph-20 {height: 20%;}
  .ph-30 {height: 30%;}
  .ph-40 {height: 40%;}
  .ph-50 {height: 50%;}
  .ph-60 {height: 60%;}
  .ph-70 {height: 70%;}
  .ph-80 {height: 80%;}
  .ph-90 {height: 90%;}
  .ph-100 {height: 100%;}